body {
    background-color: black;
    margin: 0; /* Убираем отступы по умолчанию у body */
}

div {
    background-color: black;
    color: rgb(255, 255, 255);
}

.table-container {
    width: 1000px; /* Увеличиваем ширину контейнера для поддержки широких кнопок */
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

td {
    width: 200px;
}
tbody td {
    width: 100px; /* Устанавливаем ширину td в 100 пикселей */
    border: 3px solid #ffffff;
    text-align: center;
}

thead td {
    border: 3px solid #ffffff;
    color: black;
    background-color: white;
    text-align: center;
}

.buttons {
    text-align: center;
}

button {
    width: 120px;
    height: 30px;
}

.button {
    text-align: center;
    display: inline-block; /* Используем inline-block для кнопок, чтобы они шли одна за другой */
    margin-right: 5px; /* Добавляем небольшой отступ между кнопками */
}